In [22]:
import pandas as pd
import scipy
from scipy import stats

In [5]:
data = pd.read_csv("Cutlets.csv")

In [7]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

# Problem Statement :

#### A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

# Business Problem

In [9]:
# Is there significant difference in the diameter of the cutlet ?

# Data description

 α == 0.05 (95% Confidence)

Y == Continious
X == Discrete

Is Y1 and Y2 normal ?

H0 = Y1 and Y2 are normal
H1 = Y1 and Y2 are not normal

# Normality Test

In [11]:
stats.shapiro(data["Unit A"])

#P value for Unit A == 0.32 > α

ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)

In [23]:
stats.shapiro(data["Unit B"])

# P value for Unit B == 0.52 > α

ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

### Here Y1 and Y2 are Normal so H0 is accepted !

# T Test

# Model

H0 == Mean for Y1 and Y2 are equal 
H1 == Mean for Y1 and Y2 are not equal

In [24]:
stats.ttest_rel(data["Unit A"], data["Unit B"])

Ttest_relResult(statistic=0.7536787225614314, pvalue=0.4562300768038412)

In [25]:
# P value of the Paired T Test is == 0.45 > α

## Thus H0 is accepted.

## Mean of both Y1 and Y2 are equal