In [1]:
import pandas as pd
import numpy as np
from scipy import stats

 A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [ ]:
# Business Problem
#Is there any significant difference in the average Turn Around Time between laboratories ?

In [2]:
# Loding dataset

data = pd.read_csv("labTAT.csv")

In [3]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
#Checking for null values in dataset
data.isna().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

H0 = Y1, Y2, Y3 and Y4 are normal
H1 = Y1, Y2, Y3 and Y4 are not normal

where 
Y ==Continious 
X ==Discrete

# Normality Test

In [9]:
pvallab1 = stats.shapiro(data["Laboratory 1"])
pvallab1

ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787)

In [10]:
pvallab2 = stats.shapiro(data["Laboratory 2"])
pvallab2

ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)

In [11]:
pvallab3 = stats.shapiro(data["Laboratory 3"])
pvallab3

ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063)

In [12]:
pvallab4 = stats.shapiro(data["Laboratory 4"])
pvallab4

ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

In [13]:
# α == 0.05 (95% Confidence)

In [31]:
print(pvallab1.pvalue,"P value for Laboratory 1 == 0.55 > α")
print(pvallab2.pvalue,"P value for Laboratory 2 == 0.86 > α")
print(pvallab3.pvalue,"P value for Laboratory 3 == 0.42 > α")
print(pvallab4.pvalue,"P value for Laboratory 4 == 0.66 > α")

0.5506953597068787 P value for Laboratory 1 == 0.55 > α
0.8637524843215942 P value for Laboratory 2 == 0.86 > α
0.4205053448677063 P value for Laboratory 3 == 0.42 > α
0.6618951559066772 P value for Laboratory 4 == 0.66 > α

### HO is accepted. Thats is Y1, Y2, Y3, and Y4 are normal

# Veriance

H0 == Variance of all 4 laboratories are same.
H1 == Variance of all 4 laboratories are not same.

In [34]:
veriance = stats.levene(data["Laboratory 1"], data["Laboratory 2"], data["Laboratory 3"], data["Laboratory 4"])
veriance

LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816)

In [35]:
print("P value for Variance test is = ", veriance.pvalue, " > α ")

P value for Variance test is =  0.05161343808309816  > α

### H0 is accepted

In [36]:
#Thus we will perform one way Anova Test

## Model

In [37]:
# H0 == Mean TAT for 4 laboratories are equal 
# H1 == Mean TAT for 4 laboratories are not equal

In [38]:
stats.stats.f_oneway(data["Laboratory 1"], data["Laboratory 2"], data["Laboratory 3"], data["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)
P value of the One way Anova test is == 2e-16 < α

## Thus H1 is accepted.

In [39]:
# Mean TAT for 4 laboratories not equal (There is a significance difference between TAT of the laboratories)